body{
    background-color:antiquewhite;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  
  /*
  .grid-item {
    padding: 0.1em;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 8;
  }
  */

  
  button {
    padding: 1em;
    background-color:darkmagenta;
    border: 1px solid blue;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  button:hover {
    border: 4px double gray;
    background-color:darkolivegreen;
  }

  #calculator{
    border: 4px transparent blue;
    width: 300px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 4px;
    grid-template-areas: 
      "header header header header"
      "header2 header2 header2 header2";

  }
  
  #history{
    grid-area: header;
    padding: 1em;
    border: 4px solid darkslategray;
    font-size: large;
    text-align: end;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  #display{
    grid-area: header2;
    padding: 1em;
    border: 4px solid darkslategray;
    font-size: large;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .calc{
    width: 70px;
    height: 70px;
    border: 4px solid darkslategray;
  }
  .equal{
    width: 200%;
    margin-left: 156px;
  }
  
 

  .number {
    background-color: darkkhaki;
  }
